body {
	background: url(../img/background-login.png) no-repeat center center fixed;
}

.register-container {
	min-width: 100vw;
	min-height: calc(100vh - 68px);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 0.8rem;
}

.card {
	width: 40vw;
	height: auto;
	border-radius: var(--card-radius);
	background-color: rgba(255, 255, 255, 0.70);
	padding: 0;
	display: block;
	overflow: hidden;
}

.card-header {
	padding-top: 1.2rem;
	padding-bottom: 1rem;
	background-color: var(--primary);
	color: white;
}

.card-header > .card-title {
	font-size: 1.8rem;
	font-weight: bold;
}

.card-body {
	padding-left: 6rem !important;
	padding-right: 6rem !important;
	padding-top: 2rem;
	padding-bottom: 2rem;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 1rem;
}

.card > .card-header,
.card > .card-body {
	padding-left: 3rem;
	padding-right: 3rem;
}

.send-button-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-grow: 1;
	gap: 1rem;
}

.send-button {
	background-color: var(--accent);
	border: none;
	color: white;
	padding: 0.6rem 0.2rem;
	width: 80%;
	border-radius: var(--button-radius);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	margin-top: 1rem;
	/* transition: all 237ms ease-in; */
}

.send-button:active {
	background-color: var(--primary);
}

.send-button:disabled {
	background: darkgray;
	cursor: not-allowed;
}

.send-button-container > a {
	text-decoration: none;
	color: var(--primary);
	font-size: 1.2rem;
}

.forgot-password {
    display: block;
	margin-top: 0.5rem;
	align-self: flex-start;
	text-decoration: none;
    color: black;
}
